!*/
*/
![Aa]ssets/
![Bb]uild/
![Pp]ackages/
![Pp]rojectSettings/
!Assets/
!Build/
!Packages/
!ProjectSettings/
.vs/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Uu]serSettings/
!*
*
!*.aiff
!*.anim
!*.asmdef
!*.aspx
!*.asset
!*.assets
!*.bmp
!*.browser
!*.cginc
!*.config
!*.controller
!*.cs
!*.dll
!*.editorconfig
!*.exe
!*.exr
!*.fbx
!*.gif
!*.gitattributes
!*.gitignore
!*.hlsl
!*.html
!*.info
!*.ini
!*.inputactions
!*.jpeg
!*.jpg
!*.json
!*.lighting
!*.map
!*.mask
!*.mat
!*.meta
!*.mixer
!*.mov
!*.mp3
!*.mtl
!*.obj
!*.ogg
!*.overridecontroller
!*.pdf
!*.physicsmaterial2d
!*.png
!*.prefab
!*.proto
!*.psd
!*.resource
!*.ress
!*.scenetemplate
!*.shader
!*.shadergraph
!*.tga
!*.tif
!*.ttf
!*.txt
!*.unity
!*.uss
!*.wav
!*.webm
!*.wlt
!*.xml
!*.zip
*.csproj
*.sln
*.slnx
![Aa]ssets
![Bb]uild
![Pp]ackages
![Pp]rojectSettings
[Ll]ibrary
[Ll]ogs
[Oo]bj
[Tt]emp
[Uu]serSettings
*.csproj.user
!.gitattributes
!.gitignore
.vs
.vsconfig
*.csproj.Backup.tmp
