![Aa]ssets/
![Bb]uild/
![Pp]ackages/
![Pp]rojectSettings/
.vs/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Uu]serSettings/
*.csproj
*.sln
*.slnx
*.csproj.user
!.gitattributes
!.gitignore
.vs
.vsconfig
*.csproj.Backup.tmp
